.container{
  height: 50vh;
}

.spinner{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: conic-gradient(#0000 10%, var(--color-light--2));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: spin 1.5s infinite linear;
    -webkit-animation: spin 1.5s infinite linear;
}

@keyframes spin {
   to{
     transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     -o-transform: rotate(360deg);
}
}